.write{
    padding-top: 50px;
}

.writeImg{
  
    width: 100vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
   
   
}
.writeForm{
    position: absolute;

}

.writeFormGroup{
  margin: none;
    display: flex;
    align-items: center;
}

.writeIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: rgb(121, 118, 118);
    cursor: pointer;
}

.writeInput{
    font-size: 30px;
    border: none;
    resize: horizontal;
    width: 100vw;
  
}

.writeInput:focus{
    outline: none;
}

.writeText{
    font-size: 13px;
    height: 100vh;
    width: 100vw;
    border: none;
    padding: 20px;
    font-family: 'Varela Round', sans-serif;

    
}

.writeSubmit{
position: relative;
    top: 200px;
    right: 350px;
   
    color: white;
    background-color: teal; 
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}